{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to product List</button></a></p>

<h1>{{ product.name }}</h1>
<h2>{{ product.specification }}</h2>  {# lebih kecil dari product name #}

<p>
  <b>{{ product.get_category_display }}</b>
  {% if product.is_featured %} | <b>Featured</b>{% endif %}
</p>

{% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="product thumbnail" width="300">
  <br /><br />
{% endif %}

<h3>Price:</h3>
<p>Rp {{ product.price|floatformat:0 }}</p>

<h3>Description:</h3>
<p>{{ product.description }}</p>

{% endblock content %}
